*, *::before, *::after {
  box-sizing: border-box;

  font-family: sans-serif;
  color: #777;
}

:root {
  --cell-size: 90px;
  --mark-size: calc(var(--cell-size) * .9)
}

html, body {
  margin: 0;
}

.main-header {
  position: sticky;
  top: 0;
  background-color: rgba(0, 0, 0, .2);
  background-size: cover;
  align-content: center;
  justify-content: center;
}

.main-header-text {
  text-align: center;
  text-decoration: underline;
  border: 2px rgba(255, 0, 0, 0.5);
  margin-top: 0 !important;
}

.moves-taken-text {
  text-decoration: none;
}
.game-btns-h {
  display: flex;
  align-items: center;
  justify-content: center;
}

.restart-btn {
  background-color: transparent;
  border: 2px;
  border-color: rgba(0, 0, 0, 0);
  font-size: 100%;
  text-align: center;
}

.restart-btn:hover {
  background-color: lightblue;
  cursor: pointer;
}

.board {
  position: relative;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(8, auto);
}

.space {
  border: 1px solid black;
  background-color: green;
  width: var(--cell-size);
  height: var(--cell-size);
  display: flex;
  justify-content: center;
  align-items: center;
}

.space.placed:hover {
  cursor: not-allowed;
}

.space.placed::before,
.space.placed::after,
.space .space:not(.placed):hover::before,
.space .space:not(.placed):hover::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  width: var(--mark-size);
  height: var(--mark-size);
  background-color: green;
}


.placed.b::before,
.placed.b::after {
  background-color: black;
}

.placed.w::before,
.placed.w::after {
  background-color: white;
}
